.hero {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url("../../assets/hero-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    color: white;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        font-weight: 300;
    }

    h1 {
        font-size: 48px;
    }
    a {
        display: flex;
        flex-direction: row;
        align-items: center; 
        gap: 10px;
        
    }
}