.footer {
    margin-top: 80px;
    background-color: black;
    color: white;
    padding: 100px;
    &__wrapper {
        display: flex; 
        flex-direction: row;
        justify-content: space-between; 
        flex-wrap: wrap;
        gap: 30px;
    }
    &__exclusive, 
    &__support,
    &__account,
    &__quick,
    &__download {
        display: flex;
        flex-direction: column;
        gap: 24px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}

@media (max-width: 1000px) {
    .footer__wrapper {
        justify-content: flex-start;
        gap: 30px;
    }
}